.content-container{
	background-color: #eee;
	min-height: 650px;
	width: 100%;
}

.message{
  color: red;
}

.logged-out{
  text-align: center;
}

.navbar{
	border-radius: 0px !important;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  color: white;
  text-decoration: none;
}

.active {
  color: white;
}

.nav .icon{
	display: none;
}





.header{
	margin-left: 2%;
}

.left-section{
	margin-left: 2%;
	max-width: 700px;
}

.right-section{
	float: right;
	min-width: 600px;
	margin-right: 2%;
}

.form-title{
	margin-bottom: 20px; 
	font-family:Helvetica;
	text-align: center;
}

.login-form{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

div.center-text{
	margin-left: 2%;
	margin-right: 2%;
}

.message-form{
	margin-top: 5%;
}

.map-wrapper{
	margin-top: 5%;
}

.footer{
	height: 55px;
	width: 100%;
	background-color: rgb(51, 51, 51);;
	margin-top: -20px;
}

p.footer-text{
	color: white;
	text-align: center;
}

a.phone-number{
	color: black;
}

a.phone-number:hover{
	text-decoration: none;
}

a.mail:hover{
	text-decoration: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
  	display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
  }

  a.hamburger-register{
  	border-top: 2px dotted white;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
  	position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}