.content-container{
	background-color: #eee;
	min-height: 100vh;
	width: 100%;
}

.message{
  color: red;
}

th, td{
  padding: 5px !important;
}




.confirm-order{
  width: 50%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px !important;
  min-height: 500px !important;
}

.cart-buttons{
  float: right; */
  width: 155px;
  margin-right: 230px;
  position: relative;
  margin-left: auto;
  margin-top: 10px;
}

.log-message{
  color: red;
  text-align: center;
}

.logged-out{
  text-align: center;
}

.navbar{
	border-radius: 0px !important;
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.row-roses{
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  color: white;
  text-decoration: none;
}

.active {
  color: white;
}

.nav .icon{
	display: none;
}

.main{
  padding-top: 10px;
  padding-bottom: 10px;
}

.rose-data{
  padding-top: 5px;
}

.form-title{
	margin-bottom: 20px; 
	font-family:Helvetica;
	text-align: center;
}

.login-form{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.center-text{
	margin-left: 2%;
	margin-right: 2%;
}

.message-form{
	margin-top: 5%;
}

.map-wrapper{
	margin-top: 5%;
}

.footer{
	height: 55px;
	width: 100%;
	background-color: rgb(51, 51, 51);;
	margin-top: -20px;
}

p.footer-text{
	color: white;
	text-align: center;
}

a.phone-number{
	color: black;
}

a.phone-number:hover{
	text-decoration: none;
}

a.mail:hover{
	text-decoration: none;
}

.roses-nav{
  display: block;
}

.roses-nav a{
  display: block;
  padding: 8px;
  color: black;
  padding-left: 0;
  border-bottom: .5px dotted black;
}

.roses-nav a:hover{
  text-decoration: none;
  background-color: lightgray;
  color: black;
}

.roses-nav a:active{
  background-color: lightgray;
}



* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  height: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

.side-image{
  margin-top: 60px;
  max-height: 410px;
  overflow: scroll;
}

.disabled{
   pointer-events: none;
   cursor: default;
   color: red;
}

@media screen and (max-width: 1355px){
  .right-section{
    float: left;
    margin-right: 2%;
  }
}

@media screen and (max-width: 990px){
  .side-image{
    display: inline-flex;
    margin-top: 10px;
    padding: 10px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
  	display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
  }

  a.hamburger-register{
  	border-top: 2px dotted white;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
  	position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}