.content-container{
	background-color: #eee;
	min-height: 650px;
	width: 100%;
}

.navbar{
	border-radius: 0px !important;
}

.header{
	margin-left: 2%;
}

.left-section{
	margin-left: 2%;
	max-width: 700px;
}

.right-section{
	float: right;
	min-width: 600px;
	margin-right: 2%;
}

.form-title{
	margin-bottom: 20px; 
	font-family:Helvetica;
	text-align: center;
}

.login-form{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

div.center-text{
	margin-left: 2%;
	margin-right: 2%;
}

.message-form{
	margin-top: 5%;
}

.map-wrapper{
	margin-top: 5%;
}

.footer{
	height: 55px;
	width: 100%;
	background-color: rgb(51, 51, 51);;
	margin-top: -20px;
}

p.footer-text{
	color: white;
	text-align: center;
}

a.phone-number{
	color: black;
}

a.phone-number:hover{
	text-decoration: none;
}

a.mail:hover{
	text-decoration: none;
}